


    <head>
        <meta charset="UTF-8" />
 
        <link rel="stylesheet" type="text/css" href="/LoginRegistrationForm/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/LoginRegistrationForm/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/LoginRegistrationForm/css/animate-custom.css" />
    </head>
    <body>
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">


                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
             <header>
                <h1>Login and Registration Form <span>Blog</span></h1>

            </header>
            <section>				
                <div id="container_demo" >

                    <div id="wrapper">
                        <div id="login" class="animate form">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>
<h2>Log in</h2>
